<menu>
    <button id="btnMyLocation">My location</button>
    <button id="btnResetLocation">Reset location</button>
</menu>

<div>
    <input id="hostName" type="text" />
    <button id="showLocation">Find</button>
</div>
